
<div class="navbar">

    <div class="user">

       

    </div>

    <div class="menu">

        <div class="menu-head">

            

            <span>Customer Dashboard</span>

        </div>

        <div class="menu-item">

            <button mat-button class="menu-button" [routerLink]="['/Profile']">
                

               

                <span>Profile</span>

            </button>

            <button mat-button class="menu-button" [routerLink]="['/MyPolicies']">

               

                <span>MyPolicies</span>

            </button>

            <button mat-button class="menu-button" [routerLink]="['/Payments']">

               

                <span>MyPayments</span>

            </button>
            <button mat-button class="menu-button" [routerLink]="['/Customer-Policies']">

               

                <span>Policies</span>

            </button>
            <button mat-button class="menu-button" [routerLink]="['/Term-Value']">

               

                <span>Term Value</span>

            </button>
        

         

         

         

        </div>

    </div>

</div>