<div class="container" ><mat-toolbar color="primary" >Online Term Insurance
    <div class="oper">
        <button mat-raised-button color="primary" (click)="HomeBtn()">Home</button>
        <button mat-raised-button color="primary" (click)="CustBtn()">AdminLogin</button>
        <button mat-raised-button color="primary" (click)="RegBtn()">CustomerLogin</button>
        <button mat-raised-button color="primary" (click)="AboutBtn()">AboutUs</button>
        <button mat-raised-button color="primary" (click)="ContactBtn()">contactUs</button>
        <!-- <button mat-button (click)="openDialog()">Launch dialog</button> -->

    </div>
    
</mat-toolbar>

    

<!-- </div>
<div class="container">
    <div class="oper">
        <button mat-raised-button color="primary" (click)="CustBtn()">CustomerLogin</button>
        <button mat-raised-button color="primary" (click)="AdmBtn()">AdminLogin</button>
        <button mat-raised-button color="primary" (click)="HomeBtn()">Home</button>
    </div>
    
</div> -->


<div class="container" style="background-color:hsl(204, 63%, 97%) ;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <body>
                
            
                <!-- <marquee width="50%" id="fontSize"> Welcome To Online Term Insurance</marquee>  -->
            
                <marquee id="scrolling" >
                    
            
                    Welcome To Online Term Insurance
            
                </marquee>
            
            </body>
            <img src="../../../assets/02_Term-Insurance.jpg" width="100%" />
            
        </div>
    </div>
</div>
